<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="../static/css/style.css">
    <title>{{ station_name }} Details</title>
</head>q
<body>
    <h1>{{ station_name }} Details</h1>
    <ul>
        <li>Light Intensity: {{ station_data.lightIntensity or 'N/A' }}</li>
        <li>Rain Level: {{ station_data.rainLevel or 'N/A' }}</li>
        <li>Temperature: {{ station_data.temperature or 'N/A' }}</li>
        <li>Humidity: {{ station_data.humidity or 'N/A' }}</li>
        <li>Pressure: {{ station_data.pressure or 'N/A' }}</li>
        <li>Wind Speed: {{ station_data.windSpeed or 'N/A' }}</li>
        <li>Wind Direction: {{ station_data.windDirection or 'N/A' }}</li>
    </ul>
    <br>
    <a href="/">Back to stations</a>
</body>
</html>
